@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.d-flex {
  display: flex;
}

.text-gray {
  color: #424242; /* dark 02 */
}

.text-light-gray {
  color: #727272; /* dark 03 */
}

.bg-light {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  padding: 1.25rem 1.56rem;
  background: #ff900e;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main > section {
  margin-top: 130px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

/* Header styles */

/* Navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 2.81rem;
  font-weight: 700;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}

/* Banner styles */
.banner-content {
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.2rem;
}

.banner-title {
  font-size: 4rem;
  font-weight: 700;
}

.banner-img {
  width: 100%;
}

/* Teams and Features styles */
.teams {
  align-items: center;
  gap: 4.5rem;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.our-features {
  max-width: 537px;
}

#quick-list {
  font-weight: 500;
}

#of-our {
  color: #131313;
}

#features {
  color: #ff900e;
}

.section-description {
  font-size: 1rem;
  line-height: 1.6rem; /* 162.5% */
  margin-bottom: 2rem;
}

/* Responsive media queries */
@media (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }
  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium size devices */
@media (min-width: 577px) and (max-width: 1024px) {
  .teams {
    flex-direction: column;
  }
}